<h1> Circuses </h1>

<% @circuses.each do |circus| %>
  <p><%= circus.name %></p>
<% end %>





<h2><%= link_to @circuses.name, circus_path(@circuses.name) %></h2>
<!-- <div class="circus">
  <%#= image_tag @circus.image_url %>
</div> -->
